[submodule "HDLearning/test_module"]
	path = HDLearning/test_module
	url = https://github.com/HDLearning/test_module.git
	branch = main

[submodule "abdullah-abid-dev/submod-2"]
	path = abdullah-abid-dev/submod-2
	url = git@github.com:abdullah-abid-dev/submod-2.git
	branch = main